.container-right{
    border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-self: right;
        position: fixed;
        align-items: center;
        width: 350px;
        height: auto;
        background: papayawhip;
        margin-top: 74px;
    
    
        
    }