
  .form{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--amarillo);
    border-radius: 8px;
    padding: 6px;
    margin-bottom: 4px;
    margin-bottom: 6px;
    place-items: center;
  }
  .button-add{
    background-color: var(--verde);
    border-radius: 8px;
    background: var(--verde);
    margin-top: 6px;

    width: 50px;
    border-right: 8px;
  }
  .input{
    width: 200px;
    border-radius: 8px;
    height: 28px;
    margin-bottom: 12px;
    
  }
  .input-mt{
    width: 50px;
    border-radius: 8px;
    height: 28px;
    margin-bottom: 12px;
    
  }

  #maiz-cantidad {
    margin-left: 90px;
  }